body
{
  height: auto;
  background-color: rgb(0, 0, 0); 
  background-image: linear-gradient(rgb(67, 68, 73), #000); 
  background-attachment:fixed;
  height:100%;
}

.header
{
 width: 100%;
 height: 20%;  
 background: wheat;
 margin-left: auto;
 margin-right: auto;
 margin-top: auto;
 font-size: 1000%;
 font-family: 'Qwigley', cursive; 
 text-align: center;

}

.subhead
{
  color: white;
  font-size: 300%;
  text-align: center;
  font-family: 'Niramit', sans-serif;
  color: rgba(255, 240, 200, 0.459);
  margin: -7%;
  
}



